.figure__head {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.figure__body {
  width: 20rem;
  height: 20rem;
  background-color: red;
}

.figure1 {
  border-radius: 0;
}

.figure2 {
  border-radius: 10rem;
}
