.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.header__main {
}

.header__footer {
  margin-top: 4rem;
}

.button__top {
  margin: 0 3rem 0 3rem;
  font-size: 3.5rem;
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
  color: black;
}

.button__bottom {
  margin-top: 2rem;
  font-size: 2rem;
  color: black;
  padding: 1rem;
}

.figure1 {
  border-radius: 0;
}

.figure2 {
  border-radius: 10rem;
}
